<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>	
	</listener>
	<!-- suporte a beans com escopo de request, session e global session utilizados fora do DispatcherServlet do spring -->
	<listener>
    	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  	</listener>	
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/application.xml</param-value>		
	</context-param>
	
	
	<servlet>
		<servlet-name>shadya</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	 	<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/servlet.xml
				/WEB-INF/config/webflow.xml				
			</param-value> 
		</init-param> 
	</servlet>	
	<servlet-mapping>
		<servlet-name>shadya</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>applicationFilter</filter-name>
		<filter-class>com.framework.filter.FrameworkFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>applicationFilter</filter-name>
		<url-pattern>/*</url-pattern>		
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>javax.el.ELException</exception-type>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/500.jsp</location>
	</error-page>
</web-app>
